<% authors.each do |author| %>
  <p>
    <%=h author.name %>

    <% if author.email %>
      (<a href="mailto:<%=h author.email %>"><%= author.email %></a>)
    <% end %>
  </p>

  <ul>
    <% if author.website? %>
    <li>
      Website:
      <a href="<%=h author.website %>">
        <%=h author.website %>
      </a>
    </li>
    <% end %>

    <% if author.blog? %>
    <li>
      Blog:
      <a href="<%=h author.blog %>">
        <%=h author.blog %>
      </a>
    </li>
    <% end %>

    <% if author.github? %>
    <li>
      GitHub:
      <a href="<%=h author.github_url %>">
        <%=h author.github %>
      </a>
    </li>
    <% end %>

    <% if author.gitlab? %>
    <li>
      GitLab:
      <a href="<%=h author.gitlab_url %>">
        <%=h author.gitlab %>
      </a>
    </li>
    <% end %>

    <% if author.twitter? %>
    <li>
      Twitter:
      <a href="<%=h author.twitter_url %>">
        <%=h author.twitter %>
      </a>
    </li>
    <% end %>

    <% if author.discord? %>
    <li>
      Discord: <%=h author.discord %>
    </li>
    <% end %>
  </ul>
<% end %>
