<script type="text/javascript" src="/javascript/notes.js"></script>

<% unless notes.empty? %>
  <h3>Notes</h3>

  <% notes.each do |note| %>
    <div data-note-id=<%= note.id %> class="note-div box p-0">
      <div class="columns note-header m-0 p-1">
        <div class="column created-at is-half px-3 py-0">
          <small class="is-size-7">Created at: <%= note.created_at %></small>
        </div>

        <div class="column has-text-right p-0 pr-1 mt-0">
          <div class="dropdown three-dots is-right">
            <div class="dropdown-trigger">
              <span class="icon is-small">
                <div class="three-dots-icon"></div>
              </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu6" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item py-2 edit-note">Edit</a>
                <a class="dropdown-item py-2 delete-note has-text-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-full">
        <div class="column">
          <div class="note-body mb-0 p-4"><%= note.body %></div>

          <div class="note-form" style="display: none">
            <div class="control">
              <div class="media-content">
                <div class="field mb-0 p-2">
                  <textarea class="textarea" name="body" placeholder="Edit a note..."><%= note.body %></textarea>
                </div>

                <div class="field is-flex is-justify-content-flex-end px-2 pb-2">
                  <button class="edit-note button is-small is-danger mr-2">Discard</button>
                  <button class="update-note button is-small is-primary"data-note-body=<%= note.body %>>Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="control mt-4">
  <form action=<%="#{request.path_info}/notes"%> method="POST">
    <div class="media-content">
      <div class="field">
          <textarea class="textarea" name="body" placeholder="Add a note..."></textarea>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary">Add note</button>
        </p>
      </div>
    </div>
  </form>
</div>
