<h1>Database</h1>

<div class="columns">
  <div class="box column is-half">
    <p>
      <a href="/db/ip_addresses">IP addresses (<%=h @ip_address_count %>)</a>
    </p>
  </div>

  <div class="box column is-half">
    <p>
      <a href="/db/host_names">Host names (<%=h @host_name_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-half">
    <p>
      <a href="/db/open_ports">Open Ports (<%=h @open_port_count %>)</a>
    </p>
  </div>

  <div class="box column is-half">
    <p>
      <a href="/db/ports">Ports (<%=h @port_count %>)</a>
    </p>
  </div>

  <div class="box column is-half">
    <p>
      <a href="/db/services">Services (<%=h @service_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-half">
    <p>
      <a href="/db/urls">URLs (<%=h @url_count %>)</a>
    </p>
  </div>
</div>
