<h1>Database</h1>

<div class="columns">
  <div class="box column is-one-quarter">
    <p>
      <a href="/db/host_names">Host Names (<%=h @host_name_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/asns">ASNs (<%=h @asn_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/ip_addresses">IP Addresses (<%=h @ip_address_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/mac_addresses">MAC Addresses (<%=h @mac_address_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-one-quarter">
    <p>
      <a href="/db/open_ports">Open Ports (<%=h @open_port_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/ports">Ports (<%=h @port_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/services">Services (<%=h @service_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-one-quarter">
    <p>
      <a href="/db/urls">URLs (<%=h @url_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/url_schemes">URL Schemes (<%=h @url_scheme_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/url_query_param_names">URL Query Param Names (<%=h @url_query_param_name_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-one-quarter">
    <p>
      <a href="/db/email_addresses">Email Addresses (<%=h @email_address_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/user_names">User Names (<%=h @user_name_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/passwords">Passwords (<%=h @password_count %>)</a>
    </p>
  </div>

  <div class="box column is-one-quarter">
    <p>
      <a href="/db/credentials">Credentials (<%=h @credential_count %>)</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="box column is-one-quarter">
    <p>
      <a href="/db/advisories">Advisories (<%=h @advisory_count %>)</a>
    </p>
  </div>
</div>
