<h1>Vulnerabilities</h1>

<form id="recon" action="/vulns" method="post">
  <div class="field">
    <label class="label is-required">URL</label>

    <div class="control">
      <% if @errors && @errors[:url] %>
        <input class="input is-danger" name="url" required><%=h params[:url] %></input>

        <% @errors[:url].each do |error| %>
        <p class="help is-danger"><%=h error %></p>
        <% end %>
      <% else %>
        <input class="input" name="url" placeholder="https://example.com" required><%=h params[:url] %></input>
      <% end %>
    </div>
  </div>

  <div class="field">
    <button type="submit" class="button is-primary">Recon</button>
  </div>

  <div class="advanced">
    <a class="advanced-toggle">Advanced Options</a>

    <div class="advanced-content">
      <div class="field">
        <label class="label">Max Depth</label>

        <div class="control">
          <% if @errors && @errors[:max_depth] %>
            <input class="input is-danger" type="text" name="max_depth" value="<%=hattr params[:max_depth] %>">
    
            <% @errors[:max_depth].each do |error| %>
            <p class="help is-danger"><%=h error %></p>
            <% end %>
          <% else %>
            <input class="input" type="text" name="values" placeholder="3" value="<%=hattr params[:max_depth] %>">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</form>
