<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/passwords">Passwords</a></li>
  </ul>
</nav>
<% end %>

<h1>Password: <%=h @password %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Plain Text:</strong></td>
      <td><%=h @password.plain_text %></td>
    </tr>

    <tr>
      <td><strong>User Names:</strong></td>
      <td>
        <% @password.user_names.each do |user_name| %>
          <p>
            <a href="/db/user_names/<%=h user_name.id %>">
              <%=h user_name %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Credentials:</strong></td>
      <td>
        <% @password.credentials.each do |credential| %>
          <p>
            <a href="/db/credentials/<%=h credential.id %>">
              <%=h credential %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


<%= partial(:notes, notes: @password.notes) %>

<%= partial(:add_note, parent: @password) %>