<h1>Payload: <%=h @payload.id %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td>
        <kbd><%=h @payload.id %></kbd>
      </td>
    </tr>

    <tr>
      <td><strong>Authors:</strong></td>
      <td>
        <%= partial(:authors, authors: @payload.authors) %>
      </td>
    </tr>

    <tr>
      <td><strong>Summary:</strong></td>
      <td><%=h @payload.summary %></td>
    </tr>

    <tr>
      <td><strong>Description:</strong></td>
      <td>
        <%=h @payload.description %>
      </td>
    </tr>

    <tr>
      <td><strong>References:</strong></td>
      <td>
        <% @payload.references.each do |reference| %>
          <p><a href="<%=h reference %>"><%=h reference %></a></p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Params:</strong></td>
      <td>
        <%= partial(:params, params: @payload.params) %>
      </td>
    </tr>
  </tbody>
</table>
