<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/ip_addresses">IP Addresses</a></li>
  </ul>
</nav>
<% end %>

<h1>IP Address: <%=h @ip_address %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Address:</strong></td>
      <td><%=h @ip_address.address %></td>
    </tr>

    <tr>
      <td><strong>ASN:</strong></td>
      <td>
        <% if (asn = @ip_address.asn) %>
          <a href="/db/asns/<%=h asn.id %>">
            <%=h @ip_address.asn %>
          </a>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Host Names:</strong></td>
      <td>
        <% @ip_address.host_names.each do |host_name| %>
          <p>
            <a href="/db/host_names/<%=h host_name.id %>">
              <%=h host_name %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Open Ports:</strong></td>
      <td>
        <% @ip_address.open_ports.each do |open_port| %>
          <p>
            <a href="/db/open_ports/<%=h open_port.id %>">
              <%=h open_port %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>MAC Addresses:</strong></td>
      <td>
        <% @ip_address.mac_addresses.each do |mac_address| %>
          <p>
            <a href="/db/mac_addresses/<%=h mac_address.id %>">
              <%=h mac_address %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Advisories:</strong></td>
      <td>
        <% @ip_address.advisories.each do |advisory| %>
          <p>
            <a href="/db/advisories/<%=h advisory.id %>">
              <%=h advisory %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Created:</strong></td>
      <td><%=h @ip_address.created_at %></td>
    </tr>

    <tr>
      <td><strong>Scanned:</strong></td>
      <td><%=h @ip_address.last_scanned_at %></td>
    </tr>
  </tbody>
</table>
