<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/urls">URLs</a></li>
  </ul>
</nav>
<% end %>

<h1>URL: <%=h @url %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Scheme:</strong></td>
      <td><%=h @url.scheme %></td>
    </tr>

    <tr>
      <td><strong>Host Name:</strong></td>
      <td><%=h @url.host_name %></td>
    </tr>

    <tr>
      <td><strong>Port:</strong></td>
      <td><%=h @url.port.number %></td>
    </tr>

    <tr>
      <td><strong>Path:</strong></td>
      <td><%=h @url.path %></td>
    </tr>

    <% if @url.query %>
    <tr>
      <td><strong>Query:</strong></td>
      <td><%=h @url.query %></td>
    </tr>
    <% end %>

    <% unless @url.query_params.empty? %>
    <tr>
      <td><strong>Query Params:</strong></td>
      <td>
        <ul>
        <% @url.query_params.each do |query_param| %>
          <li><%=h query_param %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <% end %>

    <% if @url.fragment %>
    <tr>
      <td><strong>Fragment:</strong></td>
      <td><%=h @url.fragment %></td>
    </tr>
    <% end %>

    <tr>
      <td><strong>Credentials:</strong></td>
      <td>
        <% @url.credentials.each do |credential| %>
          <p>
            <a href="/db/credentials/<%=h credential.id %>">
              <%=h credential %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Advisories:</strong></td>
      <td>
        <% @url.advisories.each do |advisory| %>
          <p>
            <a href="/db/advisories/<%=h advisory.id %>">
              <%=h advisory %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Created:</strong></td>
      <td><%=h @url.created_at %></td>
    </tr>

    <tr>
      <td><strong>Scanned:</strong></td>
      <td><%=h @url.last_scanned_at %></td>
    </tr>
  </tbody>
</table>

<%= partial(:notes, notes: @url.notes) %>

<%= partial(:add_note, parent: @url) %>