<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/open_ports">Open Ports</a></li>
  </ul>
</nav>
<% end %>

<div class="is-flex is-justify-content-space-between">
  <h1>Open Port: <%=h @open_port %></h1>
  <%= partial(:delete, record: @open_port, path: "open_ports") %>
</div>

<table class="table">
  <tbody>
    <tr>
      <td><strong>IP address:</strong></td>
      <td>
        <a href="/db/ip_addresses/<%=h @open_port.ip_address.id %>">
          <%=h @open_port.ip_address %>
        </a>
      </td>
    </tr>

    <tr>
      <td><strong>Port:</strong></td>
      <td>
        <a href="/db/ports/<%=h @open_port.port.id %>">
          <%=h @open_port.port %>
        </a>
      </td>
    </tr>

    <tr>
      <td><strong>Service:</strong></td>
      <td>
        <% if @open_port.service %>
          <a href="/db/services/<%=h @open_port.service.id %>">
            <%=h @open_port.service %>
          </a>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Credentials:</strong></td>
      <td>
        <% @open_port.credentials.each do |credential| %>
          <p>
            <a href="/db/credentials/<%=h credential.id %>">
              <%=h credential %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Advisories:</strong></td>
      <td>
        <% @open_port.advisories.each do |advisory| %>
          <p>
            <a href="/db/advisories/<%=h advisory.id %>">
              <%=h advisory %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Created:</strong></td>
      <td><%=h @open_port.created_at %></td>
    </tr>

    <tr>
      <td><strong>Scanned:</strong></td>
      <td><%=h @open_port.last_scanned_at %></td>
    </tr>
  </tbody>
  </tbody>
</table>


<%= partial(:notes, notes: @open_port.notes) %>
