<h1>Host name: <%=h @host_name %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>IP addresses:</strong></td>
      <td>
        <% @host_name.ip_addresses.each do |ip_address| %>
          <p><a href="/db/ip_addresses/<%=h ip_address.id %>"><%=h ip_address %></a></p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Created:</strong></td>
      <td><%=h @host_name.created_at %></td>
    </tr>

    <tr>
      <td><strong>Scanned:</strong></td>
      <td><%=h @host_name.last_scanned_at %></td>
    </tr>
  </tbody>
</table>
