<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/host_names">Host Names</a></li>
  </ul>
</nav>
<% end %>

<h1>Host Name: <%=h @host_name %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>IP Addresses:</strong></td>
      <td>
        <% @host_name.ip_addresses.each do |ip_address| %>
          <p><a href="/db/ip_addresses/<%=h ip_address.id %>"><%=h ip_address %></a></p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Advisories:</strong></td>
      <td>
        <% @host_name.advisories.each do |advisory| %>
          <p>
            <a href="/db/advisories/<%=h advisory.id %>">
              <%=h advisory %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Created:</strong></td>
      <td><%=h @host_name.created_at %></td>
    </tr>

    <tr>
      <td><strong>Scanned:</strong></td>
      <td><%=h @host_name.last_scanned_at %></td>
    </tr>
  </tbody>
</table>
