<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
    <li><a href="/db/services">Services</a></li>
  </ul>
</nav>

<h1>Service: <%=h @service %></h1>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%=h @service.name %>/</td>
    </tr>

    <tr>
      <td><strong>IP Addresses:</strong></td>
      <td>
        <% @service.ip_addresses.each do |ip_address| %>
          <p>
            <a href="/db/ip_addresses/<%=h ip_address.id %>">
              <%=h ip_address %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Open Ports:</strong></td>
      <td>
        <% @service.open_ports.each do |open_port| %>
          <p>
            <a href="/db/open_ports/<%=h open_port.id %>">
              <%=h open_port.ip_address %> <%=h open_port %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><strong>Ports:</strong></td>
      <td>
        <% @service.ports.each do |port| %>
          <p>
            <a href="/db/ports/<%=h port.id %>">
              <%=h port %>
            </a>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
